name: E2E Tests

on:
  pull_request:
  push:

jobs:
  test:
    name: Run E2E Tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5

      - name: Install dependencies
        run: bun install

      - name: Install Playwright dependencies
        run: bunx playwright install --with-deps

      - name: Run E2E tests
        run: bun run test
